In [ ]:
# installing Selenium Library
! pip install selenium

# Question 1 Answer ---> python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Scraping First 10 job-title, job-location, company_name, experience_required.

In [25]:
# importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver    # importing webdriver module from selenium to open up automated chrome window
import warnings
warnings.filterwarnings("ignore") # ignoring warnings that might arise
import time                       # used to stop search engine for few seconds

In [4]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [5]:
#opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [9]:
# finding element for job search bar and entering in Skill, Designations, Companies field
search_field_designation = driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Analyst")

In [10]:
# entering location Bangalore in location search bar
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys("Bangalore")  # since bangalore gets inputed in location we have to use absolute full xpath to get the location search section since there are 2 suggestor-input

In [11]:
#search button clicking
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [12]:
# create empty lists for the data we have to extract and store in them
job_titles=[]
job_locations=[]
company_names=[]
experience_required=[]

In [ ]:
# extract all the tags having the job titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]  # using range to print only top 10 results

In [ ]:
# now the text of the job title is inside the tags extracted above
# we will run a loop to iterate over the tags extracted above and extract the text inside

for i in titles_tags:          # iterating over each web element of title_tags
    title=i.text               # extracting text from web element
    job_titles.append(title)   # appending each text into empty list
job_titles[0:10]               # using range to print only top 10 results

In [ ]:
#extracting the location tags
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

In [ ]:
#extracting location names from location_tags
for i in location_tags:
    location=i.text
    job_locations.append(location)
job_locations[0:10]

In [ ]:
#extracting the companies tags
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

In [ ]:
#extracting company names from companies_tags
for i in companies_tags:
    company_name=i.text                  
    company_names.append(company_name)  
company_names[0:10]

In [ ]:
# extracting the tags having the experience required data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:10]

In [ ]:
#extracting experience required data from experience_tags
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

In [ ]:
#printing length off all lists
print(len(job_titles),len(job_locations),len(company_names),len(experience_required))

In [ ]:
# creating dataframe which contains the top 20 details from page 1 extracted from above steps
dataanalystjobs=pd.DataFrame({})
dataanalystjobs['Job Titles']=job_titles
dataanalystjobs['Job Locations']=job_locations
dataanalystjobs['Company Names']=company_names
dataanalystjobs['Experience Required']=experience_required

dataanalystjobs

In [23]:
dataanalystjobsfirst10 = dataanalystjobs.iloc[0:10]
dataanalystjobsfirst10        #filtering only first 10 job results

,Job Titles,Job Locations,Company Names,Experience Required
0,Sr Data Analyst II,"Gurgaon/Gurugram, Bangalore/Bengaluru",IHS Markit,3-6 Yrs
1,Business and Data Analyst,Bangalore/Bengaluru,CAREERDOST ENTERPRISE,0-5 Yrs
2,Senior Data Analyst,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",Capco,7-12 Yrs
3,Data Analyst,Bangalore/Bengaluru(Jayanagar),G S E-COMMERCE PVT LTD,4-7 Yrs
4,Data Analyst - Python / SQL,Bangalore/Bengaluru,Myntra,1-4 Yrs
5,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
6,Hiring For Data Analyst with SAP ABAP & BW - C...,Bangalore/Bengaluru,MILLION MINDS INFOTECH PRIVATE LIMITED,7-10 Yrs
7,SAS Analyst / data Analyst / Business analyst ...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Leading US MNC into analytics,2-7 Yrs
8,Data Analyst 2-1,Bangalore/Bengaluru,PayPal,5-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,PayPal,1-3 Yrs

In [24]:
driver.close()  # to close the driver at the end

# Question 2 Answer --> python program to scrape data for “Data Scientist” Job position in “Bangalore” location. Scraping first 10 jobs data which contains the job-title, job-location, company_name

In [3]:
# importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver    # importing webdriver module from selenium to open up automated chrome window
import warnings
warnings.filterwarnings("ignore") # ignoring warnings that might arise
import time                       # used to stop search engine for few seconds

In [4]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [5]:
#opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [9]:
# finding element for job search bar and entering in Skill, Designations, Companies field
designation = driver.find_element_by_class_name("suggestor-input ")
designation.send_keys("Data Scientist")

In [10]:
# entering location Bangalore in location search bar
location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys("Bangalore")  # since bangalore gets inputed in location we have to use absolute full xpath to get the location search section since there are 2 suggestor-input

In [11]:
# search button clicking
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [14]:
# create empty lists for the data we have to extract and store in them
job_titles2=[]
job_locations2=[]
company_names2=[]

In [ ]:
# extract all the tags having the job titles
titles_tags2 = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags2[0:10]  # using range to print only top 10 results

In [ ]:
# now the text of the job title is inside the tags extracted above
# we will run a loop to iterate over the tags extracted above and extract the text inside

for i in titles_tags2:          # iterating over each web element of title_tags
    title=i.text                # extracting text from web element
    job_titles2.append(title)   # appending each text into empty list
job_titles2[0:10]               # using range to print only top 10 results

In [ ]:
#extracting the location tags
location_tags2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags2[0:10]

In [ ]:
#extracting location names from location_tags
for i in location_tags2:
    location=i.text
    job_locations2.append(location)
job_locations2[0:10]

In [ ]:
#extracting the companies tags
companies_tags2 = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags2[0:10]

In [ ]:
#extracting company names from companies_tags
for i in companies_tags2:
    company_name=i.text                  
    company_names2.append(company_name)  
company_names2[0:10]

In [21]:
#printing length off all lists
print(len(job_titles2),len(job_locations2),len(company_names2))

20 20 20

In [ ]:
# creating dataframe which contains the top 20 details from page 1 extracted from above steps
datascientistjobs=pd.DataFrame({})
datascientistjobs['Job Titles']=job_titles2
datascientistjobs['Job Locations']=job_locations2
datascientistjobs['Company Names']=company_names2

datascientistjobs

In [24]:
datascientistjobsfirst10 = datascientistjobs.iloc[0:10]
datascientistjobsfirst10

,Job Titles,Job Locations,Company Names
0,Rolls-Royce Data Labs : Data Scientist,Bangalore/Bengaluru,Rolls Royce
1,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
2,Staff Data Scientist,Bangalore/Bengaluru,Walmart
3,Sr Data Scientist,Bangalore/Bengaluru,Target
4,Data Scientist 1,Bangalore/Bengaluru,PayPal
5,Data Scientist Opportunity with PayU - Diversi...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",PayU
6,Lead Data Scientist,Bangalore/Bengaluru,Target
7,Senior Data Scientist,Bangalore/Bengaluru,Walmart
8,Cognitive/AI Senior Data Scientist,Bangalore/Bengaluru,IBM
9,Assistant Manager/Manager/Senior Manager - Dat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd

In [26]:
driver.close()  # to close the driver at the end

# Question 3 Answer ---> scrape data for “Data Scientist” designation for first 10 job results, data such as job-title, job-location, company name, experience required, with location filter as “Delhi/NCR” and salary filter as “3-6” lakhs

In [27]:
# importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver     # importing webdriver module from selenium to open up automated chrome window
import warnings
warnings.filterwarnings("ignore")  # ignoring warnings that might arise
import time                        # used to stop search engine for few seconds

In [28]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [29]:
#opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [30]:
# finding element for job search bar and entering in Skill, Designations, Companies field
designation3 = driver.find_element_by_class_name("suggestor-input ")
designation3.send_keys("Data Scientist")

In [31]:
# search button clicking
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [37]:
# The location filter to be used is “Delhi/NCR”.
location_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[3]/label/i")
location_filter.click()

In [38]:
# The salary filter to be used is “3-6” lakhs
salary_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/i")
salary_filter.click()

In [52]:
# create empty lists for the data we have to extract and store in them
job_titles3=[]
job_locations3=[]
company_names3=[]
experience_required3=[]

In [ ]:
# extract all the tags having the job titles
titles_tags3 = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags3[0:10]  # using range to print only top 10 results

In [ ]:
# now the text of the job title is inside the tags extracted above
# we will run a loop to iterate over the tags extracted above and extract the text inside

for i in titles_tags3:          # iterating over each web element of title_tags
    title=i.text                # extracting text from web element
    job_titles3.append(title)   # appending each text into empty list
job_titles3[0:10]               # using range to print only top 10 results

In [ ]:
#extracting the location tags
location_tags3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags3[0:10]

In [ ]:
#extracting location names from location_tags
for i in location_tags3:
    location=i.text
    job_locations3.append(location)
job_locations3[0:10]

In [ ]:
#extracting the companies tags
companies_tags3 = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags3[0:10]

In [ ]:
#extracting company names from companies_tags
for i in companies_tags3:
    company_name=i.text                  
    company_names3.append(company_name)  
company_names3[0:10]

In [ ]:
# extracting the tags having the experience required data
experience_tags3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags3[0:10]

In [ ]:
#extracting experience required data from experience_tags
for i in experience_tags3:
    experience=i.text
    experience_required3.append(experience)
experience_required3[0:10]

In [61]:
#printing length off all lists
print(len(job_titles3),len(job_locations3),len(company_names3),len(experience_required3))

20 20 20 20

In [ ]:
# creating dataframe which contains the top 20 details from page 1 extracted from above steps
datascientistjobs3=pd.DataFrame({})
datascientistjobs3['Job Titles']=job_titles3
datascientistjobs3['Job Locations']=job_locations3
datascientistjobs3['Company Names']=company_names3
datascientistjobs3['Experience Required']=experience_required3

datascientistjobs3

In [63]:
datascientistjobs3first10 = datascientistjobs3.iloc[0:10]
datascientistjobs3first10

,Job Titles,Job Locations,Company Names,Experience Required
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
1,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
2,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
3,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
4,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
5,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",Creative Hands HR Consultancy,0-4 Yrs
6,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
7,Data Scientist - Python/SQL,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",AVE-Promagne,3-8 Yrs
8,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
9,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs

In [64]:
driver.close()  # to close the driver at the end

# Question 4 Answer ---> Scraping data of first 100 sunglasses listings on flipkart.com scraping four attributes: 1. Brand 2. Product Description 3. Price. The attributes to scrape is ticked marked in the image.

In [103]:
# importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver     # importing webdriver module from selenium to open up automated chrome window
import warnings
warnings.filterwarnings("ignore")  # ignoring warnings that might arise
import time                        # used to stop search engine for few seconds

In [104]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [105]:
#opening up flipkart.com website on automated chrome window
driver.get('https://www.flipkart.com/')

In [106]:
#closing the pop up for login sign
closing_login_popup = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
closing_login_popup.click()

In [107]:
# entering “sunglasses” in the search field where “search for products, brands and more” is written
product_name = driver.find_element_by_xpath("//input[@class='_3704LK']")
product_name.send_keys("sunglasses")

In [108]:
# clicking the search icon
search_icon = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_icon.click()

In [109]:
# Since in the question its not mentioned to scrap each pages individually we will not use the loop method
#creating empty lists to store the data
brand=[]
product_description=[]
price=[]
discount=[]

In [ ]:
# scraping tags containing brand data from first page, 1-40 items
brand1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand1[0:4]   #printing 4 tag data just for reference

In [ ]:
#extracting brand name data from the brand tags from first page, 1-40 items
for i in brand1:
    brandname=i.text
    brand.append(brandname)
brand[0:4]   #printing 4 brand names just for reference

In [112]:
len(brand)  # 40 items data appended into the brand list

40

In [ ]:
# scraping tags containing product description from first page, 1-40 items
productdesc1 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
productdesc1[0:4]   # printing 4 tag data just for reference

In [ ]:
#extracting product description data from the product description tags from first page, 1-40 items
for i in productdesc1:
    product=i.text
    product_description.append(product)
product_description[0:4]   #printing 4 product description just for reference

In [115]:
len(product_description) # 40 items data appended into the product_description list

40

In [ ]:
# scraping tags containing price data from first page, 1-40 items
price1 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price1[0:4]   # printing 4 tag data just for reference

In [ ]:
# extracting price data from the price tags from first page, 1-40 items
for i in price1:
    pricetext=i.text
    price.append(pricetext)
price[0:4]   # printing 4 prices just for reference

In [118]:
len(price)

40

In [ ]:
# scraping tags containing discount % data from first page, 1-40 items
discount1 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
discount1[0:4]   # printing 4 discount % data just for reference

In [ ]:
# extracting discount % data from the price tags from first page, 1-40 items
for i in discount1:
    discounttext=i.text
    discount.append(discounttext)
discount[0:4]   # printing 4 discount % just for reference

In [121]:
len(discount)

40

In [122]:
# “Next” Button at the bottom ofthe page , then clicking on it.
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

In [ ]:
# scraping tags containing brand data from second page, 41-80 items
brand2 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand2[0:4]   #printing 4 tag data just for reference

In [ ]:
#extracting brand name data from the brand tags from second page, 41-80 items
for i in brand2:
    brandname=i.text
    brand.append(brandname)
brand[40:44]   #printing 40-44 brand names just for reference

In [125]:
len(brand) # 40 items added to the previous 40

80

In [ ]:
# scraping tags containing product description from second page, 41-80 items
productdesc2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
productdesc2[0:4]   # printing 4 tag data just for reference

In [ ]:
#extracting product description data from the product description tags from second page, 41-80 items
for i in productdesc2:
    product=i.text
    product_description.append(product)
product_description[40:44]   #printing 4 product description just for reference

In [128]:
len(product_description) # 40 items added to the previous 40

80

In [ ]:
# scraping tags containing price data from second page, 41-80 items
price2 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price2[0:4]   # printing 4 tag data just for reference

In [ ]:
# extracting price data from the price tags from second page, 41-80 items
for i in price2:
    pricetext=i.text
    price.append(pricetext)
price[40:44]   # printing 4 prices just for reference

In [131]:
len(price) # 40 items added to the previous 40

80

In [ ]:
# scraping tags containing discount % data from second page, 41-80 items
discount2 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
discount2[0:4]   # printing 4 discount % data just for reference

In [ ]:
# extracting discount % data from the price tags from second page, 41-80 items
for i in discount2:
    discounttext=i.text
    discount.append(discounttext)
discount[40:44]   # printing 4 discount % just for reference

In [134]:
len(discount) # 40 items added to the previous 40

80

In [135]:
# “Next” Button at the bottom ofthe page , then clicking on it.
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_button.click()

In [ ]:
# scraping tags containing brand data from third page, 81-120 items
brand3 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand3[0:4]   #printing 4 tag data just for reference

In [ ]:
#extracting brand name data from the brand tags from third page, 81-120 items
for i in brand3:
    brandname=i.text
    brand.append(brandname)
brand[80:84]   #printing 40-44 brand names just for reference

In [138]:
len(brand) # 40 items added to the previous 80

120

In [ ]:
# scraping tags containing product description from third page, 81-120 items
productdesc3 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
productdesc3[0:4]   # printing 4 tag data just for reference

In [ ]:
#extracting product description data from the product description tags from third page, 81-120 items
for i in productdesc3:
    product=i.text
    product_description.append(product)
product_description[80:84]   #printing 4 product description just for reference

In [142]:
len(product_description) # 40 items added to the previous 80

120

In [ ]:
# scraping tags containing price data from third page, 81-120 items
price3 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price3[0:4]   # printing 4 tag data just for reference

In [ ]:
# extracting price data from the price tags from third page, 81-120 items
for i in price3:
    pricetext=i.text
    price.append(pricetext)
price[80:84]   # printing 4 prices just for reference

In [145]:
len(price) # 40 items added to the previous 80

120

In [ ]:
# scraping tags containing discount % data from third page, 81-120 items
discount3 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
discount3[0:4]   # printing 4 discount % data just for reference

In [ ]:
# extracting discount % data from the price tags from third page, 81-120 items
for i in discount3:
    discounttext=i.text
    discount.append(discounttext)
discount[80:84]   # printing 4 discount % just for reference

In [148]:
len(discount) # 40 items added to the previous 80

120

In [149]:
#printing length off all lists
print(len(brand),len(product_description),len(price),len(discount))

120 120 120 120

In [ ]:
# creating data frame which has 120 items information extracted by the steps above
flipkartsunglassesdata = pd.DataFrame({'Brand Name':brand,'Product Description':product_description,'Price':price,'Discount':discount})
flipkartsunglassesdata

In [151]:
# filtering them into first 100 sunglasses information as per the answer request
sunglassesdatafirst100 = flipkartsunglassesdata.iloc[0:100,:]
sunglassesdatafirst100

,Brand Name,Product Description,Price,Discount
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,20% off
1,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,Mi,Polarized Aviator Sunglasses (Free Size),₹799,33% off
...,...,...,...,...
95,HIPPON,UV Protection Wayfarer Sunglasses (55),₹207,82% off
96,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269,82% off
97,AISLIN,"UV Protection, Gradient Cat-eye, Oval Sunglass...",₹498,70% off
98,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
99,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,10% off

In [152]:
driver.close()   # to close the driver at the end

# Question 5 Answer ---> scarping first 100 reviews data from flipkart.com for iphone11 phone. The data to be scraped are Rating, Review summary, Full review.

In [2]:
# Since the link from the pdf for iphone 11 reviews was not opening (screen shot attached in the messages) 
# we took the liberty to manually search the flipkart site for the exact same page of reviews and used that link to scrap the details

In [3]:
# the link referred
# https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&q=apple+iphone+11+black&store=tyy%2F4io&srno=s_1_6&otracker=search&otracker1=search&fm=Search&iid=1981aea3-1ac4-40e3-a39d-360493424af5.MOBFKCTSVZAXUHGR.SEARCH&ppt=sp&ppn=sp&ssid=ztmg8jnm9c0000001652099555656&qH=463388d252f4d3d7

In [105]:
# importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver     # importing webdriver module from selenium to open up automated chrome window
import warnings
warnings.filterwarnings("ignore")  # ignoring warnings that might arise
import time                        # used to stop search engine for few seconds

In [106]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [107]:
#opening up flipkart link provided on automated chrome window
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYL0BETT&marketplace=FLIPKART&sattr[]=color&sattr[]=storage&st=storage&otracker=search')

In [108]:
# since we need first 100 reviews we have to click on "All 6047 reviews" to get all the reviews opened
reviews = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div")
reviews.click()

In [109]:
ratings=[]
review_summary=[]    
full_review=[]                 #creating empty list to store title

In [110]:
#since the absolute x path changes after the first page and then remains the same 
#we choose to run this loop once and run the remaining 9 pages in another loop
for i in range(0,1):            # running for loop with range to run this loop once
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")   # locating web element of rating_tags for both green and red colourd ratings which have different classes, hence or operation is used
    for i in rating_tags:        # iterating over each web element of rating_tags
        rating=i.text            # fetching text from the web element
        ratings.append(rating)   # appending ratings (text) into the empty list
    reviews_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")      # locating reviews summary tags
    for i in reviews_tags:
        review=i.text
        review_summary.append(review)                                        # appending text to review_summary list
    fullreview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")     # locating reviews full review tags
    for i in fullreview_tags:
        fullreview=i.text
        full_review.append(fullreview)                                       #appending text to full_review list
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")   # first page next button
    next_button.click()           # locating web element of next button and then clicking on next button
    time.sleep(5)                 # using time to pause the search engine for 5 sec between each page

In [111]:
print(len(ratings),len(review_summary),len(full_review))

10 10 10

In [112]:
# since the absolute x path changes after the first page and then remains the same 
# we choose to run this loop of 1 to 10 and run the remaining 9 pages in this loop
for i in range(1,10):            # running for loop with range to run this loop once
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")   # locating web element of rating_tags for both green and red colourd ratings which have different classes, hence or operation is used
    for i in rating_tags:        # iterating over each web element of rating_tags
        rating=i.text            # fetching text from the web element
        ratings.append(rating)   # appending ratings (text) into the empty list
    reviews_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")      # locating reviews summary tags
    for i in reviews_tags:
        review=i.text
        review_summary.append(review)                                        # appending text to review_summary list
    fullreview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")   # locating reviews full review tags
    for i in fullreview_tags:
        fullreview=i.text
        full_review.append(fullreview)                                       # appending text to full_review list
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")   # consecutive pages next button
    next_button.click()           # locating web element of next button and then clicking on next button
    time.sleep(6)                 # using time to pause the search engine for 6 sec between each page

In [113]:
print(len(ratings),len(review_summary),len(full_review))

100 100 100

In [114]:
# creating data frame which has 100 items information extracted by the steps above
iphonereviews = pd.DataFrame({'Ratings':ratings,'Review Summary':review_summary,'Full Review':full_review})
iphonereviews

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...
96,5,Classy product,Gifted my man on his 30th birthday 🎂 He loves ...
97,5,Worth every penny,Here is the thing\n\nThe only reason why you s...
98,5,Excellent,It was amazing experience for me. Honestly i a...
99,4,Nice product,If you are looking for a premium phone under 5...

In [120]:
driver.close() # for closing the driver at the end

# Question 6 Answer ---> scraping first 100 sneakers from flipkart.com, 4 attributes of each sneaker: Brand, Product Description, Price and discounts

In [144]:
# importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver     # importing webdriver module from selenium to open up automated chrome window
import warnings
warnings.filterwarnings("ignore")  # ignoring warnings that might arise
import time                        # used to stop search engine for few seconds

In [145]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [146]:
#opening up flipkart.com website on automated chrome window
driver.get('https://www.flipkart.com/')

In [147]:
#closing the pop up for login sign
closing_login_popup = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
closing_login_popup.click()

In [148]:
# entering “sneakers” in the search field where “search for products, brands and more” is written
product_name6 = driver.find_element_by_xpath("//input[@class='_3704LK']")
product_name6.send_keys("sneakers")

In [149]:
# clicking the search icon
search_icon = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_icon.click()

In [150]:
#creating empty lists to store the data
brand6=[]
product_description6=[]
price6=[]
discount6=[]

In [151]:
# Since in the question its not mentioned to scrap each pages individually we will use the loop method
# since the absolute x path changes after the first page and then remains the same for the consecutive pages
# we choose to run this loop once and run the remaining 2 pages in another loop to get a total of 120 datas and then filter it to first 100
for i in range(0,1):            # running for loop with range to run this loop once
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")   # locating web element of brand tags
    for i in brand_tags:         # iterating over each web element of brand_tags
        brand=i.text             # fetching text from the web element
        brand6.append(brand)     # appending brand (text) into the empty list
    product_description_tags=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")   # locating product_description_tags
    for i in product_description_tags:
        product=i.text
        product_description6.append(product)                              # appending text to product_description6 list
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")    # locating reviews price tags
    for i in price_tags:
        price=i.text
        price6.append(price)                                    #appending text to price6 list
    discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")    # locating reviews discount tags
    for i in discount_tags:
        discount=i.text
        discount6.append(discount)                                    #appending text to discount6 list
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")  # first page next button
    next_button.click()           # locating web element of next button and then clicking on next button
    time.sleep(5)                 # using time to pause the search engine for 5 sec between each page

In [152]:
# printing length
print(len(brand6),len(product_description6),len(price6),len(discount6))

40 40 40 40

In [153]:
# running the remaining 2 pages in another loop to get a total of 120 datas and then filter it to first 100
for i in range(1,3):            # running for loop with range to run this loop twice
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")   # locating web element of brand tags
    for i in brand_tags:         # iterating over each web element of brand_tags
        brand=i.text             # fetching text from the web element
        brand6.append(brand)     # appending brand (text) into the empty list
    product_description_tags=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")   # locating product_description_tags
    for i in product_description_tags:
        product=i.text
        product_description6.append(product)                              # appending text to product_description6 list
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")    # locating reviews price tags
    for i in price_tags:
        price=i.text
        price6.append(price)                                    #appending text to price6 list
    discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")    # locating reviews discount tags
    for i in discount_tags:
        discount=i.text
        discount6.append(discount)                                    #appending text to discount6 list
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")  # second and third page next button
    next_button.click()           # locating web element of next button and then clicking on next button
    time.sleep(5)                 # using time to pause the search engine for 5 sec between each page

In [154]:
# printing length
print(len(brand6),len(product_description6),len(price6),len(discount6))

120 120 120 120

In [ ]:
# creating data frame which has 120 items information extracted by the steps above
sneakerreviews = pd.DataFrame({'Brand Name':brand6,'Product Description':product_description6,'Price':price6,'Discount':discount6})
sneakerreviews

In [156]:
sneakerreviewsfirst100 = sneakerreviews.iloc[0:100,:]   # filtering to first 100 sneakers data
sneakerreviewsfirst100

,Brand Name,Product Description,Price,Discount
0,Navtrend,Sneakers For Men,₹449,77% off
1,Navtrend,Sneakers For Men,₹429,78% off
2,URBANBOX,Sneakers Sneakers For Men,₹148,85% off
3,BRUTON,Canvas shoes for Men Sneakers For Men,₹299,76% off
4,Labbin,Sneakers For Men,₹449,55% off
...,...,...,...,...
95,bluemaker,casual for men Sneakers For Men,₹449,55% off
96,bluemaker,casual for men Sneakers For Men,₹449,55% off
97,Layasa,Sneakers For Men,₹449,55% off
98,STRANGER BROTHERS,Sneakers For Men,₹384,61% off
99,EZDEZARIO,Shoes in Black Color Party wear/Outdoor/Casual...,₹349,65% off

In [157]:
driver.close() # for closing the driver at the end

# Question 7 Answer ---> Scraping first 100 shoes data from https://www.myntra.com/shoes and setting Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black” data includes “Brand” of the shoes , Short Shoe description, price of the shoe

In [194]:
# importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver     # importing webdriver module from selenium to open up automated chrome window
import warnings
warnings.filterwarnings("ignore")  # ignoring warnings that might arise
import time                        # used to stop search engine for few seconds

In [184]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [185]:
#opening up https://www.myntra.com/shoes website on automated chrome window
driver.get('https://www.myntra.com/shoes')

In [186]:
# selecting Color filter as “Black”
color_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [187]:
# since “Rs. 7149 to Rs. 14099” is not there in the page we selected Rs. 7119 to Rs. 14079(882)
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [188]:
# creating empty lists to store the data
brand7=[]
short_shoe_description=[]
price7=[]

In [189]:
# Since in the question its not mentioned to scrap each pages individually we will use the loop method
# we run this loop twice to get a total of 100 data of the shoes since each page contains 50 data
# Since the loop is skipping to the 10th page for some reason we ran the loop twice
for i in range(0,1):            # running loop once
    brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")   # locating web element of brand tags
    for i in brand_tags:         # iterating over each web element of brand_tags
        brand=i.text             # fetching text from the web element
        brand7.append(brand)     # appending brand (text) into the empty list
    shoe_description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")   # locating shoe_description_tags
    for i in shoe_description_tags:
        shoe=i.text
        short_shoe_description.append(shoe)                              # appending text to short_shoe_description list
    price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")    # locating reviews price tags
    for i in price_tags:
        price=i.text
        price7.append(price)                                    #appending text to price7 list                                    #appending text to discount6 list
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")  # first page next button
    next_button.click()           # locating web element of next button and then clicking on next button
    time.sleep(5)                 # using time to pause the search engine for 5 sec between each page

In [190]:
# printing length
print(len(brand7),len(short_shoe_description),len(price7))

50 50 50

In [191]:
# we run this loop twice to get a total of 100 data of the shoes since each page contains 50 data
# Since the loop is skipping to the 10th page for some reason we ran the loop twice to get 50 each time
for i in range(1,2):            # running loop second time
    brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")   # locating web element of brand tags
    for i in brand_tags:         # iterating over each web element of brand_tags
        brand=i.text             # fetching text from the web element
        brand7.append(brand)     # appending brand (text) into the empty list
    shoe_description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")   # locating shoe_description_tags
    for i in shoe_description_tags:
        shoe=i.text
        short_shoe_description.append(shoe)                              # appending text to short_shoe_description list
    price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")    # locating reviews price tags
    for i in price_tags:
        price=i.text
        price7.append(price)                                    #appending text to price7 list                                    #appending text to discount6 list
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[13]/a")  # first page next button
    next_button.click()           # locating web element of next button and then clicking on next button
    time.sleep(5)                 # using time to pause the search engine for 5 sec between each page

In [192]:
# printing length  # 50 in page 2 added to the previous 50 datas
print(len(brand7),len(short_shoe_description),len(price7))

100 100 100

In [193]:
# creating data frame which has 100 items information extracted by the steps above
myntrashoedata = pd.DataFrame({'Brand of the Shoes':brand7,'Short Shoe Description':short_shoe_description,'Price':price7})
myntrashoedata

,Brand of the Shoes,Short Shoe Description,Price
0,ALDO,Men Leather Driving Shoes,Rs. 12999
1,UNDER ARMOUR,Men Vantage 2 Running Shoes,Rs. 7999
2,ALDO,Men Woven Design Sneakers,Rs. 13999
3,ALDO,Men Textured Slip-On Sneakers,Rs. 12999
4,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999(15% OFF)
...,...,...,...
95,PUMA Hoops,Men Basketball Shoes,Rs. 7999
96,Heel & Buckle London,Men Textured Leather Formal Loafers,Rs. 13990
97,Bugatti,Men Walking Shoes,Rs. 8999
98,Bugatti,Men Solid Leather Formal Derbys,Rs. 9499
99,Columbia,Women Trekking Shoes,Rs. 8999

In [ ]:
driver.close()  # to close the driver at the end

# Question 8 Answer ---> https://www.amazon.in/ ,  “Laptop” in the search field , CPU Type filter to “Intel Core i7” and “Intel Core i9” , scraping first 10 laptops data, attributed to be scrapped are Title, Ratings and Price.

In [35]:
# importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver     # importing webdriver module from selenium to open up automated chrome window
import warnings
warnings.filterwarnings("ignore")  # ignoring warnings that might arise
import time                        # used to stop search engine for few seconds

In [49]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [50]:
#opening up https://www.amazon.in/ website on automated chrome window
driver.get('https://www.amazon.in/')

In [51]:
# Entering “Laptop” in the search field
search_field = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_field.send_keys("Laptop")

In [52]:
# clicking the search icon
click_button = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
click_button.click()

In [54]:
# ticked individually cause both i9 and i7 couldnt be ticked together cause of the nature of the filtering doesnt allow it
# ticking filter of "Intel Core i9"  i9 is selected first cause afterwards in cpu filter only i7 option shows up and i9 doesnt show
cpu_filteri9 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i")
cpu_filteri9.click()

In [55]:
# creating empty lists to store data
titlei9=[]
ratingsi9=[]
pricei9=[]

In [ ]:
# locating title tags
title_tagsi9 = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")  
title_tagsi9[0:4]       # printing first 4 title tags just for reference

In [57]:
# extracting title data from the tags
for i in title_tagsi9:       # iterating in title_tags
    title=i.text           # extracting text from the tags
    titlei9.append(title)   # appendingg the text title data into the empty list ttle8
titlei9         # printing title data

['Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i9-12900H 12th Gen, RTX 3080 Ti 16GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZX-K8024WS',
 'HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SSD/15.6 inch(39.6 cm) 400 nits,4K AMOLED Touch, TUV + Win 11 Pro 64/NVIDIA GeForce RTX 3060 6GB Graphics/Alexa/FPR /B&O/2.14kg,15-ep1087TX, Natural Silver',
 'Predator Helios 500 Gaming Laptop (11th Gen Intel Core I9/17.3" 4K UHD Display/64GB DDR4 RAM/2TB SSD/1TB HDD/RTX 3080 Graphics/Per Key RGB Backlit Keyboard) | PH517-52',
 'ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cms) 2K WQHD 240Hz/3ms, Intel Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/Black/2.3 kg) G533ZW-LN136WS',
 'ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZW-LN106WS',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 '(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9th Gen i9-9880H/16GB/1TB HDD + 512GB SSD/Win 10/8GB NVIDIA RTX 2080 Graphics) & Z3700 Wireless Mouse',
 'MSI Gaming Stealth GS66, Intel 12th Gen. i9-12900H, 15.6" QHD 240Hz Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 11 Home/Nvidia RTX 3070Ti 8GB GDDR 6/ Black/2.1Kg), 12UGS-038IN',
 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP',
 'HP ZBook Power G8/ Intel core i9-11900H 8 Core/32GB RAM /1TB NVMe SSD /15.6” FHD /Nvidia Quadro T1200 Graphics 4 GB DDR6 /Windows 10 Pro / 3 Year Warranty']

In [58]:
len(titlei9)

12

In [ ]:
# locating ratings_tags
ratings_tagsi9 = driver.find_elements_by_xpath("//a[@href='javascript:void(0)']/i/span")
ratings_tagsi9[0:4]   # printing 4 rating_tags for reference

In [60]:
# extracting ratings data from the tags
for i in ratings_tagsi9:
    rating=i.text
    ratingsi9.append(rating)
ratingsi9      # printing rating data  #  not sure why ratings data comes as empty although the code looks right

['', '', '', '', '', '']

In [61]:
len(ratingsi9)

6

In [ ]:
# locating price_tags
price_tagsi9 = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tagsi9[0:4]   # printing 4 price_tags just for reference

In [63]:
# extracting the price data from the price_tags
for i in price_tagsi9:
    price=i.text
    pricei9.append(price)
pricei9      # printing price data

['1,44,990',
 '1,44,990',
 '3,31,990',
 '2,02,990',
 '3,79,990',
 '2,32,374',
 '2,85,390',
 '2,05,990',
 '1,38,000',
 '3,29,990',
 '2,25,000',
 '2,50,000']

In [64]:
len(pricei9)

12

In [65]:
# clicking on "clear" so that we can click on "Intel Core i7" again
clear = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[2]/ul/li[1]/span/a/span[2]")
clear.click()

In [66]:
# ticking filter of "Intel Core i7"
cpu_filteri7 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/div/label/i")
cpu_filteri7.click()

In [70]:
# creating empty lists to store data
titlei7=[]
ratingsi7=[]
pricei7=[]

In [ ]:
# locating title tags
title_tagsi7 = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")  
title_tagsi7[0:10]       # printing first 10 title tags just for reference

In [76]:
# extracting title data from the tags
for i in title_tagsi7:       # iterating in title_tags
    title=i.text           # extracting text from the tags
    titlei7.append(title)   # appending the text title data into the empty list
titlei7[0:10]         # printing title data

['Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Gaming Laptop (32GB/1TB SSD/Windows 11 Home/8GB Graphics/NVIDIA GeForce RTX 3070/300 Hz, Black, 2.3Kg) PH315-54',
 'MSI Katana GF66 Gaming, Intel i7-11800H, 15.6" FHD IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia RTX3050Ti 4GB GDDR6/Black/2.25Kg), 11UD-476IN',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office 21/Backlit KB/FP Sensor/1.7Kg)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 EvoTM  39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.55Kg), NP750XED-KC2IN',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH']

In [77]:
len(titlei7)

60

In [ ]:
# locating ratings_tags
ratings_tagsi7 = driver.find_elements_by_xpath("//a[@href='javascript:void(0)']/i/span")
ratings_tagsi7[0:10]   # printing 10 rating_tags for reference

In [79]:
# extracting ratings data from the tags
for i in ratings_tagsi7:
    rating=i.text
    ratingsi7.append(rating)
ratingsi7[0:10]      # printing 10 rating data  #  not sure why ratings data comes as empty although the code looks right

['', '', '', '', '', '', '', '', '', '']

In [80]:
len(ratingsi7)

19

In [ ]:
# locating price_tags
price_tagsi7 = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tagsi7[0:10]   # printing 10 price_tags just for reference

In [82]:
# extracting the price data from the price_tags
for i in price_tagsi7:
    price=i.text
    pricei7.append(price)
pricei7[0:10]      # printing 10 price data

['1,69,990',
 '91,499',
 '77,999',
 '57,490',
 '79,990',
 '85,890',
 '1,01,112',
 '93,999',
 '86,990',
 '86,990']

In [83]:
len(pricei7)

30

In [84]:
driver.close()   # closing the driver at the end

# Question 9 Answer --->  python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. Scraping company name, No. of days ago when job was posted, Rating of the company.

In [26]:
# importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver       # importing webdriver from selenium for opening automated chrome window
import warnings
warnings.filterwarnings("ignore")    # ignoring warnings that may arise
import time                          # time is used to stop the webbrowser for a specified time for the operations to take place

In [27]:
# opening automated chrome window
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [28]:
# opening the https://www.ambitionbox.com/ in automated chrome window
ambitionbox = driver.get("https://www.ambitionbox.com/")

In [30]:
# clicking on "Jobs" as per question
jobsoption = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
jobsoption.click()

In [31]:
# In “Search by Designations, Companies, Skills” entering “Data Scientist”
designation9 = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation9.send_keys("Data Scientist")

In [32]:
# clicking on search button
search_button9 = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button9.click()

In [33]:
# clicking on location drop down to get more options
location_dropdown = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
location_dropdown.click()

In [34]:
# entering "Noida" in the location search tab
location_search = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location_search.send_keys("Noida")

In [35]:
# clicking on the Noida tick mark circle
location_tickmark = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
location_tickmark.click()

In [44]:
# creating empty lists to store data
company_name9=[]
days_job_posted=[]
rating9=[]

In [ ]:
# locating company name tags
company_name_tags = driver.find_elements_by_xpath("//a[@class='title noclick']")
company_name_tags[0:4]      # printing 4 company name tags for reference

In [ ]:
# extracting company name from the tags
for i in company_name_tags:
    company=i.text
    company_name9.append(company)
company_name9[0:4]           # printing 4 company names for reference

In [ ]:
# locating No. of days ago when job was posted tags
no_of_days_ago_tags = driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
no_of_days_ago_tags[0:4]      # printing 4 tags for reference

In [ ]:
# extracting no_of_days_ago from the tags
for i in no_of_days_ago_tags:
    days=i.text
    days_job_posted.append(days)
days_job_posted[0:4]           # printing 4 no_of_days_ago for reference

In [ ]:
# locating tags of rating of the company
rating_of_the_company = driver.find_elements_by_xpath("//span[@class='body-small']")
rating_of_the_company[0:4]     # printing 4 tags for reference

In [ ]:
# extracting the ratings data from the tags
for i in rating_of_the_company:
    rating=i.text
    rating9.append(rating)
rating9[0:4]                   # printing 4 ratings for reference

In [52]:
# printing length
print(len(company_name9),len(days_job_posted),len(rating9))

10 10 10

In [53]:
# making data frame for the first 10 jobs results
ambitionboxjobs = pd.DataFrame({'Company Name':company_name9,'No. of days ago posted':days_job_posted,'Rating of the Company':rating9})
ambitionboxjobs

,Company Name,No. of days ago posted,Rating of the Company
0,Data Scientist- AI/ML- R&D,7d ago,3.9
1,Data Scientist,19d ago,4.0
2,Oracle HCM BI Technical Lead/Manager (People A...,5d ago,3.9
3,Hiring For Data Scientist + Python/R+ Predicti...,1mon ago,4.0
4,Data Scientist - Immediate Joiners,14d ago,3.8
5,Data Scientist - Machine Learning (5-14 yrs),18d ago,4.1
6,Data Scientist,5d ago,3.7
7,Data Scientist- Fresher Opening - Newgen Softw...,20d ago,3.5
8,Data Analyst / Data Scientist,29d ago,3.7
9,Senior Data Scientist,1mon ago,4.2

In [ ]:
driver.close()  # to close the driver at the end

# Question 10 Answer ---> python program to scrape the salary data for Data Scientist designation. Scraping company name, total salary record, average salary, minimum salary, maximum salary, experience required.

In [1]:
# import required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver      # imports webdriver from selenium to open automated chrome window
import warnings
warnings.filterwarnings("ignore")   # ignores warnings that might arise 
import time                         # used to stop the webbrowser for a few seconds

In [2]:
# open automated chrome window
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [3]:
# opening ambitionbox.com in automated chrome window
ambitionboxwindow = driver.get("https://www.ambitionbox.com/")

In [14]:
# clicking on salaries option 
salariestab = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salariestab.click()

In [15]:
# inputing "Data scientist" in "Search Job Profile"
search_tab = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_tab.send_keys("Data scientist")

In [16]:
# clicking on "Data scientist" dropdown
dropdown = driver.find_element_by_xpath("//p[@class='tt_text']")
dropdown.click()

In [29]:
# creating empty lists to store data
company_name10=[]
total_salary_record=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required10=[]

In [30]:
# since there is no mention to scrap the details individually we will use loop method
for i in range(0,1):
    company_name_tags = driver.find_elements_by_xpath("//div[@class='name']/a")     # locating tags
    for i in company_name_tags:
        company=i.text                                                              # extracting text from the tags
        company_name10.append(company)                                              # appending in empty list
    total_salary_record_tags = driver.find_elements_by_xpath("//div[@class='name']/span")       # locating tags
    for i in total_salary_record_tags:
        total_salary=i.text                                                                     # extracting text from the tags
        total_salary_record.append(total_salary)                                                # appending in empty list
    average_salary_tags = driver.find_elements_by_xpath("//p[@class='averageCtc']")       # locating tags
    for i in average_salary_tags:
        avg=i.text                                                                        # extracting text from the tags
        average_salary.append(avg)                                                        # appending in empty list
    minimum_salary_tags = driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")        # locating tags
    for i in minimum_salary_tags:
        minimum=i.text                                                                                 # extracting text from the tags
        minimum_salary.append(minimum)                                                                 # appending in empty list
    maximum_salary_tags = driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")        # locating tags
    for i in maximum_salary_tags:
        maximum=i.text                                                                                 # extracting text from the tags
        maximum_salary.append(maximum)                                                                 # appending in empty list
    experience_required_tags = driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")    # locating tags
    for i in experience_required_tags:
        experience=i.text.replace("Data Scientist\n . \n","").replace(" exp","")   # extracting text from the tags and replacing unwanted items                    
        experience_required10.append(experience)                                   # appending in empty list

In [31]:
experience_required10        # after removing the "Data Scientist\n . \n" and " exp"

['3 yrs',
 '3-4 yrs',
 '4 yrs',
 '2 yrs',
 '3-4 yrs',
 '2-4 yrs',
 '2-4 yrs',
 '2-4 yrs',
 '4 yrs',
 '4 yrs']

In [32]:
# printing length
print(len(company_name10),len(total_salary_record),len(average_salary),len(minimum_salary),len(maximum_salary),len(experience_required10))

10 10 10 10 10 10

In [33]:
# making dataframe with all the above extracted data
ambitionboxdatascientist = pd.DataFrame({'Company Name':company_name10,'Total Salary Record':total_salary_record,'Average Salary':average_salary,'Minimum Salary':minimum_salary,'Maximum Salary':maximum_salary,'Experience Required':experience_required10})
ambitionboxdatascientist

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L,3 yrs
1,Ab Inbev,based on 32 salaries,₹ 20.5L,₹ 15.0L,₹ 25.5L,3-4 yrs
2,Reliance Jio,based on 10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L,4 yrs
3,ZS,based on 15 salaries,₹ 15.9L,₹ 9.8L,₹ 20.0L,2 yrs
4,Optum,based on 27 salaries,₹ 15.2L,₹ 11.0L,₹ 22.0L,3-4 yrs
5,Fractal Analytics,based on 81 salaries,₹ 15.2L,₹ 9.5L,₹ 22.0L,2-4 yrs
6,Tiger Analytics,based on 46 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs
7,UnitedHealth,based on 53 salaries,₹ 14.0L,₹ 8.3L,₹ 20.5L,2-4 yrs
8,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs
9,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs

In [34]:
driver.close()       # closing the driver at the end